Repository mnemonic-no/act-scio2: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, check-json, check-yaml, debug-statements

isort:
  name: isort
  language: python
  entry: isort
  additional_dependencies:
  - isort==5.10.1
  args:
  - --profile
  - black

black:
  name: black
  language: python
  entry: black
  additional_dependencies:
  - black==22.3.0

flake8:
  name: flake8
  language: python
  entry: flake8
  additional_dependencies:
  - flake8==4.0.1

mypy:
  name: mypy
  language: python
  entry: mypy
  additional_dependencies:
  - mypy==0.950
  - pydantic
  args:
  - --strict
  - --install-types
  - --non-interactive

check-json:
  name: check-json
  entry: check-json
  language: python
  additional_dependencies:
  - pre-commit-hooks==4.0.1

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: python
  additional_dependencies:
  - pre-commit-hooks==4.0.1
  args:
  - --unsafe

debug-statements:
  name: debug-statements
  entry: debug-statement-hook
  language: python
  additional_dependencies:
  - pre-commit-hooks==4.0.1

openai
  act/scio/etc/plugins/threatactor_gpt.ini
  act/scio/plugins/threatactor_gpt.py
Due: isort, black, flake8, mypy, debug-statements

improve exception handling and update ta_aliases^
  act/scio/aliasregex.py
  act/scio/analyze.py
  act/scio/etc/plugins/ta_aliases.cfg
  act/scio/vocabulary.py
  docker/scio/Dockerfile
  setup.py
Due: isort, black, flake8, mypy, debug-statements

improve exception handling and update ta_aliases^ (#91)
  act/scio/aliasregex.py
  act/scio/analyze.py
  act/scio/etc/plugins/ta_aliases.cfg
  act/scio/vocabulary.py
  docker/scio/Dockerfile
  setup.py
Due: isort, black, flake8, mypy, debug-statements

OpenAI Plugin
  act/scio/etc/plugins/openai.ini
  act/scio/etc/plugins/threatactor_gpt.ini
  act/scio/plugins/openai.py
  act/scio/plugins/threatactor_gpt.py
  setup.py
Due: isort, black, flake8, mypy, debug-statements

remove techniques prompt, add target country prompt and limit to TLP white
  act/scio/etc/plugins/openai.ini
Due: none

rename prompts to experminetal
  act/scio/etc/plugins/openai.ini
Due: none

openAI plugin (#92)
  README.md
  act/scio/analyze.py
  act/scio/etc/plugins/openai.ini
  act/scio/plugins/openai.py
  setup.py
Due: isort, black, flake8, mypy, debug-statements

send future instead of coroutine
  act/scio/tika_engine.py
  setup.py
Due: isort, black, flake8, mypy, debug-statements

add proxy support fort openai
  act/scio/etc/plugins/openai.ini
  act/scio/plugins/openai.py
Due: isort, black, flake8, mypy, debug-statements

send future instead of coroutine and support proxy in openai plugin (#93)
  act/scio/etc/plugins/openai.ini
  act/scio/plugins/openai.py
  act/scio/tika_engine.py
  setup.py
Due: isort, black, flake8, mypy, debug-statements

in python 3.11+ global modifiers must be first
  act/scio/etc/plugins/threatactor_pattern.ini
  setup.py
Due: isort, black, flake8, mypy, debug-statements

in python 3.11+ global modifiers must be first (#94)
  act/scio/etc/plugins/threatactor_pattern.ini
  setup.py
Due: isort, black, flake8, mypy, debug-statements

Remove all digits alias 2889
  act/scio/etc/plugins/ta_aliases.cfg
  setup.py
Due: isort, black, flake8, mypy, debug-statements

Remove all digits alias 2889 (#95)
  act/scio/etc/plugins/ta_aliases.cfg
  setup.py
Due: isort, black, flake8, mypy, debug-statements

skip if not apikey defined
  act/scio/plugins/openai.py
  setup.py
Due: isort, black, flake8, mypy, debug-statements

skip if not apikey defined (#96)
  act/scio/plugins/openai.py
  setup.py
Due: isort, black, flake8, mypy, debug-statements

Create dependabot.yml
  .github/dependabot.yml
Due: check-yaml

Create dependabot.yml (#97)
  .github/dependabot.yml
Due: check-yaml

Require pydantic 1.x, since we use pydantic 1.x features like ConstrainedStr
  setup.py
Due: isort, black, flake8, mypy, debug-statements

Require pydantic 1.x, since we use pydantic 1.x features like ConstrainedStr (#98)
  setup.py
Due: isort, black, flake8, mypy, debug-statements

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
