Repository mnemonic-no/act-scio2: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, check-json, check-yaml, debug-statements

isort:
  name: isort
  language: python
  entry: isort
  additional_dependencies:
  - isort==5.10.1
  args:
  - --profile
  - black

black:
  name: black
  language: python
  entry: black
  additional_dependencies:
  - black==22.3.0

flake8:
  name: flake8
  language: python
  entry: flake8
  additional_dependencies:
  - flake8==4.0.1

mypy:
  name: mypy
  language: python
  entry: mypy
  additional_dependencies:
  - mypy==0.950
  args:
  - --strict
  - --install-types
  - --non-interactive

check-json:
  name: check-json
  entry: check-json
  language: python
  additional_dependencies:
  - pre-commit-hooks==4.0.1

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: python
  additional_dependencies:
  - pre-commit-hooks==4.0.1

debug-statements:
  name: debug-statements
  entry: debug-statement-hook
  language: python
  additional_dependencies:
  - pre-commit-hooks==4.0.1

pin elasticsearch version to 7.x
  setup.py
Due: isort, black, flake8, mypy, debug-statements

initial docker-compose setup
  docker/README.md
  docker/beanstalkd/Dockerfile
  docker/docker-compose.yml
  docker/resources/pip.conf
  docker/run.sh
  docker/scio/Dockerfile
Due: check-yaml

catch json decode errors
  act/scio/tika_engine.py
Due: isort, black, flake8, mypy, debug-statements

tika config and refactor
  docker/README.md
  docker/docker-compose.yml
  docker/scio/Dockerfile
Due: check-yaml

revert json decode handling
  act/scio/tika_engine.py
Due: isort, black, flake8, mypy, debug-statements

mount nltk data locally
  docker/README.md
  docker/docker-compose.yml
Due: check-yaml

proxy docs
  docker/README.md
  docker/docker-compose.yml
  docker/scio/Dockerfile
Due: check-yaml

include nltk data in container
  docker/README.md
  docker/docker-compose.yml
  docker/resources/nltk-download-insecure
  docker/scio/Dockerfile
Due: check-yaml

enable pydantic mypy module
  act/scio/api.py
  act/scio/plugin.py
  act/scio/tlp.py
  mypy.ini
Due: isort, black, flake8, mypy, debug-statements

add pydantic to mypy env
  .pre-commit-config.yaml
Due: check-yaml

remove debug print statement
  act/scio/feeds/download.py
Due: isort, black, flake8, mypy, debug-statements

added two more defaults to exclude
  act/scio/feeds/conf.py
  setup.py
Due: isort, black, flake8, mypy, debug-statements

version bump
  setup.py
Due: isort, black, flake8, mypy, debug-statements

added two more defaults to exclude (#84)
  act/scio/feeds/conf.py
  setup.py
Due: isort, black, flake8, mypy, debug-statements

fix invalida Elasticsearch type
  act/scio/config.py
  act/scio/es.py
Due: isort, black, flake8, mypy, debug-statements

Add documentation to run scio in cron
  README.md
Due: none

bump elasticsearch requirement
  setup.py
Due: isort, black, flake8, mypy, debug-statements

remove elasticsearch dsl requirement
  act/scio/api.py
  act/scio/es.py
  setup.py
Due: isort, black, flake8, mypy, debug-statements

upgrade elasticsearch images and use --unsafe for precommit to support multiple anchors
  .pre-commit-config.yaml
  docker/docker-compose.yml
  docker/resources/pip.conf
  docker/scio/Dockerfile
Due: check-yaml

separate build doc
  docker/README.md
Due: none

Move models to separate file
  act/scio/models.py
Due: isort, black, flake8, mypy, debug-statements

Initial API documentation
  API.md
Due: none

Update docker configuration
  docker/docker-compose.yml
  docker/scio/Dockerfile
Due: check-yaml

bump version
  setup.py
Due: isort, black, flake8, mypy, debug-statements

Update pre-commit dependencies
  .pre-commit-config.yaml
  README.md
  act/scio/submit.py
Due: isort, black, flake8, mypy, check-yaml, debug-statements

Remove unneccesary ignore
  act/scio/alias.py
  act/scio/feeds/download.py
  act/scio/feeds/feeds.py
Due: isort, black, flake8, mypy, debug-statements

Switch to pathlib, introduce store/owner and move models to separate file
  act/scio/analyze.py
  act/scio/api.py
Due: isort, black, flake8, mypy, debug-statements

Update API documentation
  API.md
Due: none

update documentation
  API.md
Due: none

refactor create path if not exists
  act/scio/api.py
Due: isort, black, flake8, mypy, debug-statements

rename BaseDocument -> ScioBaseDocument to easier distinguish with BaseDocument
  act/scio/models.py
Due: isort, black, flake8, mypy, debug-statements

Extracting article link and passing as feed link, and not the linke to the feed it self.
  act/scio/feeds/download.py
  act/scio/feeds/extract.py
  setup.py
Due: isort, black, flake8, mypy, debug-statements

Article link not feed link (#88)
  act/scio/feeds/download.py
  act/scio/feeds/extract.py
  setup.py
Due: isort, black, flake8, mypy, debug-statements

add support for new Microsfot TA naming
  act/scio/aliasregex.py
  act/scio/etc/plugins/threatactor_pattern.ini
  act/scio/plugins/threatactor_pattern.py
  setup.py
  tests/test_threatactor_pattern.py
Due: isort, black, flake8, mypy, debug-statements

Support tika 2.x and update docker config
  act/scio/analyze.py
  act/scio/api.py
  act/scio/submit.py
  act/scio/tika_engine.py
  docker/README.md
  docker/docker-compose.yml
  docker/scio/Dockerfile
  setup.py
Due: isort, black, flake8, mypy, check-yaml, debug-statements

Support tika 2.x and update docker config (#90)
  act/scio/analyze.py
  act/scio/api.py
  act/scio/submit.py
  act/scio/tika_engine.py
  docker/README.md
  docker/docker-compose.yml
  docker/scio/Dockerfile
  setup.py
Due: isort, black, flake8, mypy, check-yaml, debug-statements

openai
  README.md
  act/scio/aliasregex.py
  act/scio/analyze.py
  setup.py
Due: isort, black, flake8, mypy, debug-statements

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
